
@font-face {
    font-family: TradeGothicBold;
    src: url("./assets/Trade Gothic LT Bold.ttf");
}

:root {
    font-family: Roboto, sans-serif;
    --brandDarkBlue: #1E3765;
    --brandMedBlue: #007FA3;
    --brandLightBlue: #6FC7EA;
    --brandPurple: #6D247A;
    --brandPink: #AB1368;
    --brandDarkGreen: #0D534D;
    --brandMedGreen: #00A189;
    --brandLightGreen: #8DBF2E;
    --brandRed: #DC4633; 
    --brandYellow: #fcce00;
    --brandBlack: #000000;
    --brandWhite: #ffffff;
    --brandGray: #D0D1C9;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--brandWhite);
}

main { 
    margin: 0; 
    padding: 0; 
}

a {
    color: var(--brandMedBlue);
}
a:hover {
    color: var(--brandDarkBlue);
}




#map { 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    right: 0; 
    left: 320px; 
    width: calc(100% - 319px); 
}

#panel {
    background-color: #ffffff;
    opacity: 0.8;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(45deg, #f3f3f3 0, #f3f3f3 0.4px, #ffffff 0, #ffffff 50%);
    position: fixed; 
    top: 0; 
    bottom: 0; 
    right: 0; 
    left: 0; 
    width: 319px;
    border-right: 1px solid var(--brandGray);
}


#title {
    height: 103px;
    margin: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px;
    background-color: #1E3765;
    background-size: 4px 4px;
    background-image: repeating-linear-gradient(45deg, #0D534D 0, #0D534D 0.4px, #1E3765 0, #1E3765 50%);
    /* border-top: 1px solid var(--brandGray); */
    /* border-bottom: 1px solid var(--brandGray); */
    border: solid 1px var(--brandDarkBlue);
    border-radius: 10px;
    
}

#title h1 {
    font-size: 25px;
    margin: 0px;
    padding: 10px;
    padding-left: 12px;
    color: var(--brandWhite);
    font-family: TradeGothicBold, san-serif;
    text-align: left;
}

#menu {
    padding: 3px;
    align-content: left;
    text-align: left;
    min-height: 30px;
    margin: 7px;
    width: 293px; 
    background-color: var(--brandWhite);
    border-radius: 15px;
}

#menu a {
    color: var(--brandBlack);
    font-weight: normal;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    margin-left: 0px;
    margin-right: 4px;
    margin-bottom: 4px;
    border: 1px solid var(--brandGray);
    border-radius: 5px;
    background-color: #efefef;
    padding-left: 1px;
    padding-right: 10px;
    /* padding-top: 2px;
    padding-bottom: 2px; */
    display: inline-block;
    white-space: nowrap; 
}

#menu a:hover {
    color: var(--brandRed);
    background-color: white;
}

.close {
    position: absolute;
    top: 5;
    right: 5;
    padding-left: 2px;
    font-size: 12px;
    line-height: 12px;
  }

#circle1 {
    fill-opacity: 0.5;
    stroke-width: 25px;
}

#feature-filter {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    height: 22px;
    margin-left: 5px;
    margin-right: 11px;
    margin-bottom: 5px;
    width: 285px;
    border: 1px solid var(--brandGray);
    border-radius: 5px;
    padding-left: 5px;
}

#feature-listing {
    margin-left: 7px;
    overflow-x:hidden;
    min-height: 75px;
    width: 300px;
    align-content: left;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: -7px;
}

#feature-listing a {
    color: var(--brandBlack);
    font-weight: normal;
    height: 18px;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid var(--brandGray);
    border-radius: 5px;
    background-color: var(--brandWhite);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 3px;
    display: inline-block;
    white-space: nowrap; 
    cursor: pointer;
}

#feature-listing a:hover {
    background-color: var(--brandLightBlue);
}

#info {
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    text-align: left;
    border-top: solid 1px var(--brandGray);
    display: flex;
}
p {
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    color: var(--brandDarkGray);
    font-weight: normal;
    line-height: 14px;
    font-size: 11px;
    box-sizing: border-box;
    flex: 1;
}

#after {
    margin: 10px;
    margin-top: -0px;
    margin-bottom: 0px;
    text-align: left;
    border-radius: 0px;
    position: relative;
    border-bottom: solid 1px var(--brandGray);
}

#legend {
    margin-right: auto;
    padding: 0px;
    width: 157px;
}
.svg-text {
    font-weight: normal;
    font-size: 11px;
    opacity: 0.85;
}

#logo {
    margin: auto;
    max-width: 230px;
    margin-top: 5px;
    height: 45px;
    
}

#logo img {
		height: 50px;
		color: blue;
}
#logo img:hover {
    height: 50px;
    opacity: 0.7;
    cursor: pointer;
}

.mapboxgl-popup-content {
    padding: 5px;
    padding-right: 28px;
    border: solid 1px var(--brandGray);
}
/* .mapboxgl-popup-tip {
    border-color: black;
} */
.mapboxgl-popup-close-button {
    padding: 8px;
}

